@font-face {
    font-family: wght500;
    src: url(../Fonts/NotoSansTC-Medium.otf);
}
#nthPage{
    background-image: url(../Images/brickwalls.png);
    background-position:center;
    background-size: cover;
    height: 860px;
    
}

#nthAnnounce{
    position: absolute;
    top: 45%;
    left: 0%;
    width:100%;
    height:10%;
    background-color: white;
    opacity: 50%;
    border-radius: 25px;
    
}
#nthImg{
    position: absolute;
    top: 42%;
    left: 30%;
    background-image: url(../Images/XiaoPatrick_Head_Undone_3D.png);
    background-size: cover;
    width:10%;
    height:13.75%;
    
}

#nthText{
    position: absolute;
    top: 47.5%;
    left:39%;
    font-size: 200%;
    font-family: wght500;
    font-weight: bold;
    opacity: 1;
}